@charset "UTF-8";



*{
    margin:0;
    padding: 0;
}

.wrapper {
    font-family: Source Code Pro;
/*    font-weight: bold;*/
/*    text-transform: lowercase;*/
    margin: 0 auto;
    width: 100%;
    /* color: #000; */
}
div iframe {
    width: 100%;
    height: 1200px;
    /* margin: auto; */
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
}

.topbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: fixed;
    height: 10%;
    background-color: #fff;
    /* opacity: 70%; */
    align-content: center;
    z-index: 100;
}

.home {
    grid-column: 1/3;
    text-align: center;
    align-items: center;
    padding-top: 6px;
}

.home a {
    text-decoration: none;
    color: #404E66;
    font-size: 180%;
}


.topbar ul {
    grid-column: 4/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0 16% 0 0;
}

.topbar li {
    padding: 14px 20px 10px;
    text-align: center;
    margin-right: 20px;
}

.topbar li a {
    text-decoration: none;
    color: #404E66;
    font-size: 16px;
}


.topbar a:hover{
    color: #6CB1E0;
}

.topbar .active {
    color: #6CB1E0;
}

.brandlogo {
    height: 25px;
    /* width: 45px; */
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #404E66;
    text-align: center;
    padding: 20px 0 20px 0;
    /* position: fixed; */
    background-color: #fff;
/*    margin-top: 200px;*/
    /* z-index: 100; */
}


h1 {
    text-align: left;
    font-size: 24pt;
    padding-top: 140px;
    color: #404E66;
}
header p {
    text-align: left;
    color: #565656;
    font-size: 11pt;
    margin-top: 10px;
}

header {
    margin: 0px 13% 0 12%;
    text-align: left;
}

.about {
    /* margin: 0 auto; */
    padding-bottom: 10%;
    color: #404E66;
    /* width: 100%; */
}
.about h3{
    font-size: 13pt;
}
.bio {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 40% auto;
    padding-top: 140px;
    margin-bottom: 40px;
}
.bio img {
    grid-column: 1/2;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    margin: 0 auto;
}

.bio2 {
    /* width: 100%; */
    /* background-color: #f1f1f1; */
    padding: 60px 0 50px 0;
    display: grid;
    grid-template-columns: 30% auto;
}

.bio2 h3 {
    margin: 40px auto auto 55%;
    text-align: center;
    display: flex;
    align-items: flex-start;
}

.me {
    display: grid;
    grid-column: 2/2;
    width: 100%;
   
}
.me p {
    width: 70%;
    display: grid;
    text-align: left;
    align-items: center;
    text-decoration: none;
    margin: 43px auto 20px 100px;
    font-size: 11pt;
}
.cnt {
    grid-column: 2/2;
    text-align: left;
    align-items: center;
    text-decoration: none;
    margin: 44px 180px 20px 100px;
    
}
.cnt a:link{
    text-decoration: none;
    color: #404E66;
    font-size: 11pt;
}

.cnt a:hover{
    text-decoration: none;
    color: #6CB1E0;
}

.social {
    grid-column: 2;
    grid-template-columns: 10% auto;
    margin: 40px auto 35px 100px;
}

.social img {
    height: 25px;
    text-align: left;
    opacity: 60%;
}

.social li {
    text-align: left;
    margin-right: 80px;
}

.social ul {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    /* margin: 0 500px 0 0px; */
    width: 100%;
}

.social img:hover {
    opacity: 85%;
}

.insp{
     /* width: 90%; */
    display: grid;
    grid-template-rows: 350px 520px;
}
.da { 
    /* width: 90%; */
    margin: 9% auto;
}

.da ul {
    width: 100%;
    display: grid;
    text-align: center;
    align-items: center;
    /* padding: 30px 50px;    */
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    align-items: center;
}
.da li {
    display: grid;
    margin: 0 auto;
    align-items: center;
    font-size: 11pt;
}
.da a:link {
  color: #404E66; 
  text-decoration: none;
}

.da a:visited {
  color: #404E66;
  text-decoration: none;
}

.da a:hover {
  color: #6CB1E0;
  text-decoration: none;
}

.da img {
    height: 350px;
    margin: auto 30px 25px;
}
.parallax h2{
    text-align: center;
    line-height: 330px;
    font-size: 40pt;
    color: #6CB1E0;
    opacity: 100%;
}
.parallax p{
    text-align: center;
    line-height: 10px;
    font-size: 15pt;
    color: #6CB1E0;
    opacity: 100%;
}
.parallax {
    grid-row: 1;
    background-image: url("images/illustration_fan.png");
    min-height: 380px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size: 100%;

}
    
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 3%;
    margin: auto 8%;
    padding-top: 2%;
    padding-bottom: 260px;

    text-align: center;
}

.box img {
    width: 310px;
    height: 400px;
    object-fit: cover;
    z-index: 1;
    border-radius: 15px;
}

.galleryhead {
    width: 310px;
    height: 400px;
    line-height: 400px;
    z-index: 10;
    position: absolute;
    text-align: center;
    display: none;
    align-items: center;
    color: #404E66;
    font-weight: 400;
}
.galleryhead p{
    font-size: 15pt;
}
.category h3{
    font-size: 14pt;
    color: #404E66;
 
}

.category {
    align-self: flex-start;
    text-align: left;
    line-height: 25px;
    color: #565656;

    background-color: #e7ebef8b;
    padding: 15px;
    padding-left: 20px;
    border-radius: 15px;
}

.category p{
    margin-top: 10px;
    font-size: 10.5pt;
}

.category a {
    text-decoration: none;
    color: #404E66;
}

.category a:hover{
    color: #6CB1E0;
}

/* 
.allworks {
    width: 100%;
    margin: 30px 0 70px 0;
    text-align: center;
    
}

.allworks img {
    width: 40%;

    padding: 10px;
    
}
.allworks video {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.allworks p {
    font-weight: normal;
    color: #757575;
    margin-bottom: 25px;
} */

.albums {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 3.5% 12% 40px 12%;
    text-align: center;
}
.albums img {
    display: grid;
    width: 100%;
    align-items: center;
}
.albums p {
    font-weight: normal;
    color: #757575;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 10pt;
}

/* for illust layout */

.albumtype {
    display: grid;
    grid-template-columns: 62% 38%;
    grid-gap: 50px;
    margin: 6% 12% 40px 12%;
    text-align: center;
}
.albumtype img {
    display: grid;
    width: 100%;
    align-items: center;
}
.albumtype p {
    font-weight: normal;
    color: #757575;
    margin-top: 15px;
    margin-bottom: 25px;
}



.wall {
    width: 100%;

}
.wall img{
    width: 85%;
    margin: 40px 7%;
}

.albumf {
    grid-column: 1/3;
    width: 100%;
    align-items: center;
}

.albumf .logo {
    width: 30%;
    margin: 0 auto;
    border-radius: 50%;
}
.albumf .ding {
    width: 30%;
}

.commen h3{
    font-size:13pt;
    color: #404E66;
}

.commen {

    align-self: flex-end;
    text-align: left;
}
.commen p{
    margin-bottom: 0px;
    font-size: 10.5pt;
}

.lighting {
    background-color: #e9e9e9;
}

.light {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 50px 100px 100px 100px;
    text-align: center;
}
.light img {
    display: grid;
    width: 100%;
}


/* 
.slideshow {
    width: 100%;

    display: grid;

    grid-template-columns: 30% auto 30%;
    z-index: 1;
    
}

.mySlides01 {
    height: 500px;
    margin: 0 auto;
    grid-column: 2;
    object-fit: cover;
    z-index: 1;
    margin: 20px auto 100px auto;
    align-self: center;
} */
/* 
.left {
	width: 50px;
    height: 50px;
    border-radius: 25px;
	color: #000;

    border: 0px;

    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    align-self: center;
    margin: 0 auto;
}
.right {
	width: 50px;
    height: 50px;
    border-radius: 25px;
	color: #000;

    border: 0px;

    grid-column: 3;
    grid-row: 1;
    z-index: 10;
    align-self: center;
    margin: 0 auto;
} */

.wrapperwall {
    font-family: 'Montserrat', sans-serif;
    margin: 0px auto;
    width: 90%;
    color: #436a4f;
}
.golink{
    margin: 0 auto 0px;
    text-align: center;
    font-size: 12pt;
}
.walltitle{
    width: 100%;
}
.walltitle img{
    width: 80px;
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.frame {
    width: 90%;
    margin:0 auto;
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.input{
    display: grid;
    grid-column: 1/2;
}
.input header{
    padding: 15px 30px 15px 0px;
    text-align: left;
    color: #436a4f;
    
}
.input h1{
    color: #436a4f;
    padding-top: 60px;
    font-size: 17pt;
}
.output h1{
    color: #436a4f;
    padding-top: 60px;
    font-size: 17pt;
}

.inputbox{
    border-style: solid;
    width: 90%;
    min-width: 360px;
    height: 80px;
    border-color: #436a4f;
    border-width: 2px;
    background-color: #fffef9;
    border-radius: 20px;
    margin: 0 30px 20px;
    padding: 0;
}
.inputbox input{
    border-style: none;
    width: 94%;
    height: 60px;
    background-color: #fffef9;
    border-radius: 13px;
    margin: 10px auto;
    font-family: Raleway;
    color: #436a4f;
    font-size: 14pt;
    padding-left: 10px;
    padding-right: 10px;
}

.output{
    display: grid;
    grid-column: 2/2;
}
.output header{
    padding: 15px 30px 15px 0px;
    text-align: left;
    color: #436a4f;
}

.outputbox{
    border-style: solid;
    width: 90%;
    min-width: 360px;
    height: 80px;
    border-color: #436a4f;
    border-width: 2px;
    background-color: #f6f6f6;
    border-radius: 20px;
    margin: 0 30px 20px;
    padding: 0;
}
.msg{
    width: 100%;
    height: 100%;
    color: #436a4f;
    font-size: 14pt;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
}
.msg p{
    text-align: left;
    font-family: Raleway;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 29px;
    padding-bottom: auto;
}
.submit{
    display: grid;
    grid-template-columns:40% 30% 30%;
}
.submit input{
    width: 110px;
    height: 42px;
    background-color: #436a4f;
    border-style: solid;
    border-color: #436a4f;
    border-radius: 26px;
    font-size: 20px;
    font-weight: 500;
    color: #fffef9;
    
}
.submit #add{
    display: grid;
    width: 150px;
    height: 42px;
    margin: 0 auto 0 25px;
    border-style: none;
    background-color: #fff;
    color: #8c9990;
    font-weight: 300;
    font-size: 14pt;
}

.submit #encrypt{
    display: grid;
    grid-column: 3/3;
    margin: 0 25px 0 auto;
}
.submit #decrypt{
    display: grid;
    grid-column: 2/3;
    margin: 0 10px 0 auto;
}

.submit input:hover{
    background-color: #fffef9;
    color:#436a4f;
}
.submit #add:hover{
    color:#436a4f;
}

.reference {
    width: 81%;
    margin: 70px auto 30px;
    align-content: center;
    text-align: center;
    border-style: none;
    background-color: #d0e6d451;
    border-radius: 20px;
    padding: 20px;
}
.reference h3{
    margin: 40px auto;
    font-size: 13.5pt;
    font-weight: bolder;
}

.reference p{
    margin: 30px 20%;
    font-size: 11pt;
    line-height: 20px;
    color: #6f7c73;
}